<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Dự án</h1>
                <ul class="crumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="sep">/</li>
                    <li>Dự án</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->


<!-- content begin -->
<div id="content">
    <div class="container">

        {{!-- <div class="spacer-single"></div> --}}


        <div id="gallery" class="row gallery full-gallery de-gallery pf_4_cols wow fadeInUp" data-wow-delay=".3s">

            <!-- gallery item -->
            {{#each constructs}}
            <div class="col-md-4 col-sm-6 col-xs-12 item mb30 residential">
                <div class="picframe">
                    <a class="simple-ajax-popup-align-top" href="/projects/{{id}}/project-detail">
                        <span class="overlay">
                            <span class="pf_text">
                                <span class="project-name">{{client}}</span>
                            </span>
                        </span>
                    </a>
                    <img src="{{url}}" alt="{{name}}" />
                </div>
                <div class="blog-list text-center">
                    <h3><a class="simple-ajax-popup-align-top" href="/projects/{{id}}/project-detail">{{name}}</a></h3>
                </div>
            </div>
            {{/each}}
            <!-- close gallery item -->
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li {{#if previous}} disabled {{/if}}><a href="?page={{pagePrevious}}" tabindex="-1">Prev</a></li>
                {{#each pagination}}
                {{#if active}}
                <li class="active"><a href="javascript:;">{{value}}</a></li>
                {{else}}
                <li {{#if active}} active {{/if}}><a href="?page={{value}}">{{value}}</a></li>
                {{/if}}
                {{/each}}
                <li {{#if next}} disabled {{/if}}><a href="?page={{pageNext}}" tabindex="-1">Next</a></li>
            </ul>
        </div>
    </div>
</div>